@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.navbar-brand {
  color: #18216D !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background: url(../img/nav-toggler-icon.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

.nav-link {
  font-weight: 500;
  color: #18216D !important;
}

.achievements-icon {
  width: 15px;
  height: 15px;
}

.airbnb-logo {
  width: 112px;
  height: 35px;
}

.hubspot-logo {
  width: 105px;
  height: 30px;
}

.google-logo {
  width: 105px;
  height: 35px;
}

.microsoft-logo {
  width: 132px;
  height: 28px;
}

.walmart-logo {
  width: 138px;
  height: 32px;
}

.fedex-logo {
  width: 100px;
  height: 30px;
}

.text-darkblue-muted {
  color: rgba(24, 32, 109, 0.7);
}

.hero-bg,
.achievements-icon,
.airbnb-logo,
.hubspot-logo,
.google-logo,
.microsoft-logo,
.walmart-logo,
.fedex-logo {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.main-top {
  margin-top: 6rem;
}

.text-darkblue {
  color: #18216D !important;
}

.fw-medium {
  font-weight: 500;
}

.btn-primary {
  background-color: #18216D !important;
  border-color: #18216D !important;
}

.btn-info {
  color: #18216D !important;
  background-color: #00ECD0 !important;
  border-color: #00ECD0 !important;
}

.me-n5 {
  margin-left: -3rem;
}

@media (min-width: 768px) {
  .text-darkblue-muted {
    color: #18216D;
  }
}